{
  "openapi": "3.0.3",
  "info": {
    "title": "Access Management",
    "description": "Access Management",
    "termsOfService": "urn:tos",
    "contact": {},
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://rest.latchaccess.com/access/sdk",
      "description": "Latch REST API base URL"
    }
  ],
  "paths": {
    "/v1/users": {
      "post": {
        "summary": "Grant Access to User",
        "description": "Create Latch user and grant access to doors",
        "operationId": "grantAccessToUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostUserResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid authorization token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/users/{userUuid}/doors/{doorUuid}": {
      "patch": {
        "summary": "Update User Access",
        "description": "Update user access to the given door.",
        "operationId": "updateUserAccess",
        "parameters": [
          {
            "name": "userUuid",
            "in": "path",
            "description": "UUID of the user that we want to update access for.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "doorUuid",
            "in": "path",
            "description": "UUID of door we want to update access for.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserDoorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated access to the given door.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid authorization token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Revoke User Access",
        "description": "Revoke user access to the given door.",
        "operationId": "revokeUserAccess",
        "parameters": [
          {
            "name": "userUuid",
            "in": "path",
            "description": "UUID of the user that we want to revoke access to.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "doorUuid",
            "in": "path",
            "description": "UUID of door we want to revoke access to.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully revoked access to the given door.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Invalid authorization token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccessGranter": {
        "title": "AccessGranter",
        "required": [
          "type",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of granter",
            "enum": [
              "PARTNER",
              "USER"
            ]
          },
          "uuid": {
            "type": "string",
            "description": "identifier of the granter of access",
            "format": "uuid"
          }
        },
        "description": "Definition of the granter of Access"
      },
      "BadRequestError": {
        "title": "BadRequestError",
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "enum": [
              "EMAIL_AND_PHONE_PROVIDED",
              "EMAIL_CAN_NOT_BE_EMPTY",
              "EMAIL_OR_PHONE_REQUIRED",
              "EMAIL_REQUIRED_FOR_PERMANENT",
              "END_TIME_NOT_SUPPORTED",
              "INVALID_END_TIME",
              "INVALID_PHONE",
              "INVALID_START_TIME",
              "PASSCODE_TYPE_CANT_BE_REVOKED",
              "USER_CAN_NOT_SHARE"
            ]
          }
        }
      },
      "Battery": {
        "title": "Battery",
        "required": [
          "lastUpdated",
          "percentage"
        ],
        "type": "object",
        "properties": {
          "lastUpdated": {
            "type": "integer",
            "description": "Indicates latest time when the battery percentage was updated",
            "format": "int64",
            "example": 1737137633
          },
          "percentage": {
            "type": "integer",
            "description": "Estimated battery percentage",
            "format": "int32",
            "example": 92
          }
        },
        "description": "Information on the device battery."
      },
      "DeviceInfo": {
        "title": "DeviceInfo",
        "required": [
          "battery",
          "serialNumber",
          "type"
        ],
        "type": "object",
        "properties": {
          "battery": {
            "$ref": "#/components/schemas/Battery"
          },
          "serialNumber": {
            "type": "string",
            "description": "Serial number of the lock device",
            "example": "0123456789"
          },
          "type": {
            "type": "string",
            "description": "Latch device type",
            "example": "C"
          }
        },
        "description": "Additional information about the physical lock device."
      },
      "Door": {
        "title": "Door",
        "required": [
          "buildingUuid",
          "name",
          "type",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "accessibilityType": {
            "type": "string",
            "enum": [
              "COMMUNAL",
              "PRIVATE"
            ]
          },
          "buildingUuid": {
            "type": "string",
            "description": "UUID of the building",
            "format": "uuid"
          },
          "device": {
            "$ref": "#/components/schemas/DeviceInfo"
          },
          "isConnected": {
            "type": "boolean",
            "description": "Indicates whether a door is connected to the internet via wifi/ethernet/hub",
            "example": false
          },
          "name": {
            "type": "string",
            "description": "Name of the door"
          },
          "sdkDoorUuid": {
            "type": "string",
            "description": "Latch Door Unique Identifier - for SDK use only",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "description": "Type of door",
            "enum": [
              "DOOR",
              "ELEVATOR"
            ]
          },
          "uuid": {
            "type": "string",
            "description": "Door unique identifier",
            "format": "uuid"
          }
        },
        "description": "Latch Door object"
      },
      "Doorcode": {
        "title": "Doorcode",
        "required": [
          "code",
          "description"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A 7 digit doorcode to unlock door",
            "example": "1234567"
          },
          "description": {
            "type": "string",
            "description": "A message to explain the doorcode result",
            "enum": [
              "COMMUNAL_DOORCODE_CONFLICT",
              "USER_HAS_GUEST_ACCESS_CONFLICT",
              "USER_HAS_RESIDENT_ACCESS",
              "VALID"
            ]
          }
        },
        "description": "Doorcode object"
      },
      "InternalServerError": {
        "title": "InternalServerError",
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "enum": [
              "INTERNAL_SERVER_ERROR"
            ]
          }
        }
      },
      "NotFoundError": {
        "title": "NotFoundError",
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "enum": [
              "NOT_FOUND"
            ]
          }
        }
      },
      "PostUserRequest": {
        "title": "PostUserRequest",
        "required": [
          "doorUuids",
          "firstName",
          "lastName",
          "passcodeType",
          "shareable",
          "startTime"
        ],
        "type": "object",
        "properties": {
          "doorUuids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "email": {
            "type": "string",
            "description": "Email of user"
          },
          "endTime": {
            "type": "string",
            "description": "End time of access to doors",
            "format": "date-time"
          },
          "firstName": {
            "maxLength": 2147483647,
            "minLength": 1,
            "type": "string",
            "description": "First name of user"
          },
          "lastName": {
            "maxLength": 2147483647,
            "minLength": 1,
            "type": "string",
            "description": "Last name of user"
          },
          "passcodeType": {
            "type": "string",
            "enum": [
              "DAILY",
              "DAILY_SINGLE_USE",
              "PERMANENT"
            ]
          },
          "phone": {
            "type": "string",
            "description": "Phone number of user"
          },
          "role": {
            "type": "string",
            "enum": [
              "NON_RESIDENT",
              "RESIDENT"
            ]
          },
          "shareable": {
            "type": "boolean",
            "description": "User able to share access to guests",
            "example": false
          },
          "shouldNotify": {
            "type": "boolean",
            "description": "Toggle user invite notification",
            "example": false
          },
          "startTime": {
            "type": "string",
            "description": "Start time of access to doors",
            "format": "date-time"
          }
        },
        "description": "JSON representation of the user for the post users endpoint"
      },
      "PostUserResponse": {
        "title": "PostUserResponse",
        "required": [
          "doors",
          "userUuid"
        ],
        "type": "object",
        "properties": {
          "doors": {
            "type": "array",
            "description": "List of doors user has access to",
            "items": {
              "$ref": "#/components/schemas/Door"
            }
          },
          "userUuid": {
            "type": "string",
            "description": "User unique identifier",
            "format": "uuid"
          }
        },
        "description": "Response from the post users endpoint"
      },
      "UnauthorizedError": {
        "title": "UnauthorizedError",
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "enum": [
              "UNAUTHORIZED"
            ]
          }
        }
      },
      "UpdateUserDoorRequest": {
        "title": "UpdateUserDoorRequest",
        "type": "object",
        "properties": {
          "endTime": {
            "type": "string",
            "description": "End time of access to door",
            "format": "date-time"
          },
          "shareable": {
            "type": "boolean",
            "description": "User able to share access to guests",
            "example": false
          }
        },
        "description": "JSON representation of the user's access to the door to update for the patch users door endpoint"
      },
      "User": {
        "title": "User",
        "required": [
          "email",
          "firstName",
          "lastName",
          "userUuid"
        ],
        "type": "object",
        "properties": {
          "accesses": {
            "type": "array",
            "description": "List of accesses a user has",
            "items": {
              "$ref": "#/components/schemas/UserAccess"
            }
          },
          "email": {
            "type": "string",
            "example": "john.smith@example.com"
          },
          "firstName": {
            "type": "string",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "example": "Smith"
          },
          "phone": {
            "type": "string",
            "example": "+1-111-111-1111"
          },
          "userUuid": {
            "type": "string",
            "description": "User identifier",
            "format": "uuid"
          }
        },
        "description": "Latch User object"
      },
      "UserAccess": {
        "title": "UserAccess",
        "required": [
          "doorUuid",
          "endTime",
          "granter",
          "passcodeType",
          "shareable",
          "startTime"
        ],
        "type": "object",
        "properties": {
          "doorUuid": {
            "type": "string",
            "description": "Identifier of the Door related to the access",
            "format": "uuid"
          },
          "doorcode": {
            "$ref": "#/components/schemas/Doorcode"
          },
          "endTime": {
            "type": "string",
            "description": "End time of the access",
            "format": "date-time"
          },
          "granter": {
            "$ref": "#/components/schemas/AccessGranter"
          },
          "passcodeType": {
            "type": "string",
            "enum": [
              "DAILY",
              "DAILY_SINGLE_USE",
              "PERMANENT"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "NON_RESIDENT",
              "RESIDENT"
            ]
          },
          "sdkDoorUuid": {
            "type": "string",
            "description": "Latch Door Unique Identifier - for SDK use only",
            "format": "uuid"
          },
          "shareable": {
            "type": "boolean",
            "description": "User able to share access to guests",
            "example": false
          },
          "startTime": {
            "type": "string",
            "description": "Start time of the access",
            "format": "date-time"
          },
          "userUuid": {
            "type": "string",
            "description": "User identifier",
            "format": "uuid"
          }
        },
        "description": "Definition of a User's Access to a Door and the metadata associated"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}